<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="abrirNovoCliente()">
      Novo Cliente
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let cliente of clientes">
        <ion-label>
          <h2>{{ cliente.nome }}</h2>
          <p>{{ cliente.cpf }}</p>
          <p>{{ cliente.email }}</p>
        </ion-label>
        <ion-badge slot="end" [color]="cliente.status === 'ativo' ? 'success' : 'danger'">
          {{ cliente.status }}
        </ion-badge>
        <ion-button fill="clear" color="primary" slot="end" (click)="editar(cliente)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" slot="end" (click)="excluir(cliente.id!)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
