<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Motoristas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Motoristas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="abrirNovoMotorista()">
      Novo Motorista
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let motorista of motoristas">
        <ion-label>
          <h2>{{ motorista.nome }}</h2>
          <p>{{ motorista.cpf }}</p>
          <p>{{ motorista.email }}</p>
        </ion-label>
        <ion-badge slot="end" [color]="motorista.status === 'ativo' ? 'success' : 'danger'">
          {{ motorista.status }}
        </ion-badge>
        <ion-button fill="clear" color="primary" slot="end" (click)="editar(motorista)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" slot="end" (click)="motorista.id !== undefined && excluir(+motorista.id)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

  </div>
</ion-content>