<div class="corrida-main-container">
  <div class="corrida-card">
    <div class="corrida-mapa">
      <div id="map"></div>
    </div>
    <div class="corrida-dados">
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Cliente</ion-label>
          <ion-select [(ngModel)]="corrida.clienteId" name="clienteId" required>
            <ion-select-option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{ cliente.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Motorista</ion-label>
          <ion-select [(ngModel)]="corrida.motoristaId" name="motoristaId" required>
            <ion-select-option *ngFor="let motorista of motoristas" [value]="motorista.id">
              {{ motorista.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Veículo</ion-label>
          <ion-select [(ngModel)]="corrida.veiculoId" name="veiculoId" required>
            <ion-select-option *ngFor="let veiculo of veiculos" [value]="veiculo.id">
              {{ veiculo.modelo }} - {{ veiculo.placa }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Origem</ion-label>
          <ion-input [(ngModel)]="corrida.origem" name="origem" (blur)="geocodificarOrigem()" required></ion-input>
          <ion-button slot="end" (click)="usarGeolocalizacao()" fill="clear" size="small">
            <ion-icon name="locate"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Destino</ion-label>
          <ion-input [(ngModel)]="corrida.destino" name="destino" (blur)="geocodificarDestino()" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Distância (km)</ion-label>
          <ion-input [value]="corrida.distanciaKm | number:'1.2-2'" readonly></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Valor (R$)</ion-label>
          <ion-input [value]="corrida.valor | currency:'BRL'" readonly></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" color="success" (click)="onSubmit()">
            <ion-icon name="save" slot="start"></ion-icon>
            Salvar Corrida
          </ion-button>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="block" color="medium" (click)="onCancel()">
            <ion-icon name="close" slot="start"></ion-icon>
            Cancelar
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div> 