<ion-app>
  <!-- Menu lateral -->
  <ion-menu contentId="main-content" type="overlay">
    <ion-header class="menu-header ion-padding">
      <div class="user-info">
        <img src="assets/avatar.png" alt="Avatar" class="avatar" />
        <div class="user-details">
          <div class="user-name">Usuário</div>
          <div class="user-email">usuario</div>
        </div>
      </div>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/dashboard" routerDirection="root" routerLinkActive="selected">
            <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerLink="/motoristas" routerDirection="root" routerLinkActive="selected">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            <ion-label>Motoristas</ion-label>
          </ion-item>

          <ion-item routerLink="/corridas" routerDirection="root" routerLinkActive="selected">
            <ion-icon name="map-outline" slot="start"></ion-icon>
            <ion-label>Corridas</ion-label>
          </ion-item>

          <ion-item routerLink="/clientes" routerDirection="root" routerLinkActive="selected">
            <ion-icon name="people-outline" slot="start"></ion-icon>
            <ion-label>Clientes</ion-label>
          </ion-item>

          <ion-item routerLink="/veiculos" routerDirection="root" routerLinkActive="selected">
            <ion-icon name="car-sport-outline" slot="start"></ion-icon>
            <ion-label>Veículos</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      
      <ion-list>
        <ion-item class="menu-item">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-item>
        <ion-item class="menu-item">
          <ion-icon slot="start" name="help-circle"></ion-icon>
          <ion-label>Ajuda</ion-label>
        </ion-item>
        <ion-item class="menu-item" (click)="fazerLogout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-item lines="none">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>
            <h3>Versão 1.0.0</h3>
            <p>© 2025 App Taxi</p>
            <p>© By M&V</p>
          </ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

  <!-- Conteúdo principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
