<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Veículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Veículos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-button expand="block" (click)="mostrarForm = true">
      Novo Veículo
    </ion-button>

    <ion-list>
      <ion-item *ngFor="let veiculo of veiculos">
        <ion-label>
          <h2>{{ veiculo.modelo }}</h2>
          <p>{{ veiculo.placa }}</p>
          <p>{{ veiculo.cor }}</p>
        </ion-label>
        <ion-button fill="clear" color="primary" slot="end" (click)="editar(veiculo)">
          <ion-icon name="create-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" slot="end" (click)="excluir(veiculo.id!)">
          <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <app-formulario-veiculo
      *ngIf="mostrarForm"
      [veiculo]="veiculo"
      [editando]="editando"
      (salvar)="salvar($event)"
      (cancelar)="mostrarForm = false"
    ></app-formulario-veiculo>
  </div>
</ion-content>
